<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Jobs List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1 class="Display-1"><em>Work History List App</em></h1>
      <form action="/list" method="get">
        <button type="submit" class="btn btn-info">View List</button>
      </form>
      <br>
      <form action="/create" method="get">
        <button type="submit" class="btn btn-info">Add Job</button>
      </form>
        <!-- <div class="row">
          <div class="col-md-2">
            <button type='submit' class='btn btn-info'><em>See list</em></a></button>
          </div>
          <div class="col-md-2">
            <button type='submit' class='btn btn-info'><a href="/CreateItem"><em>Add a job</em></a></button>
          </div>
        </div> -->


    </div>
  </body>
</html>
